img {
height: 200px;
display: block;
margin: 0 auto;
border-radius: 100px;
}

div {
font-family: Tahoma;
text-align: center;
color: #b3d5e3;
padding-top: 35px;
}


p {
font-size: 18px;
line-height: 30px;
padding: 30px 50px;
color: #ebf0f2;
}

.descricao p {
text-align: justify;
}

.citacao a {
text-decoration: none;
color: #ebf0f2;
font-style: italic;
}


body {
background-color: #241c05;
}

a {
color: #d0d984;
}